body {
  padding: 0;
  margin: 0;
}
  
#map,
body,
html {
  height: 100%;
}
/* set the size of the container for the dropdown windows and top 10 list */
.well {
  width: 300px; 
  padding: 10px; 
}
/* Set the dropdown width to 100% of its container */
select {
  width: 100%; 
  box-sizing: border-box; 
}

  
  